@charset "utf-8";

.product_title {
  margin: 10px;
  padding: 10px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input,
.search-container select,
.search-container button {
  margin-right: 10px;
}

.search {
  height: 24px;
  width: 127px;
}

.btn-search {
  border: 1px solid black;
  display: inline-block;
  height: 24px;
}

.lists {
  margin: 10px;
  padding: 10px;
}

table {
  width: 800px;
}

.new-btn {
  background-color: orange;
  border-radius:5px;
  color: black;
  padding: 10px 20px;
}

td {
  width: 300px;
}

.detail-btn {
  background-color: aqua;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
}

.delete-btn {
  background-color: red;
  border-radius: 5px;
  color: white;
  padding:10px 20px;
}
